{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="card caard col-md-12 " style="padding: 50px; color:#800080;">
        <h3 class="card-title d-flex justify-content-center">نسيت كلمة المرور</h3><hr>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">
        {% csrf_token %}
        <label for="email">أدخل بريدك الإلكتروني:</label>
        <input type="email" name="email" required>
        <button type="submit">إرسال</button>
    </form>
    </div>
  </div>
  {% endblock %}
</div>
